body { 
    font-family: Arial, sans-serif; 
}

html, body {
    overflow-x: hidden;
}


table { 
    border-collapse: collapse; 
    width: 100%; 
    margin-top: 20px; 
}

th, td { 
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: center; 
}

th { 
    background-color: #f4f4f4; 
}

.button { 
    padding: 10px 15px; 
    margin-top: 20px; 
    cursor: pointer; 
}

.remove-btn { 
    color: red; 
    cursor: pointer; 
}

.add-developer-btn { 
    cursor: pointer; 
}

.my-button {
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #34495E;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    z-index: 1000; /* Keeps it above other elements */
}
